<div class="modal-header">
    <h4 class="font-weight-bold modal-title pull-left">Load Interview-Template</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label for="templates">Interview Templates:</label>
    <ngb-accordion id="templates" [closeOthers]="true" *ngFor="let interview of interviews; let i = index">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                {{interview.title}}
              </ng-template>
          <ng-template ngbPanelContent>
            <div id="table" class="table-container">
                <table id="questionTable" >
                    <tr *ngFor = "let questions of interviewQuestions[i]">
                        <td *ngFor = "let obj of questions | keyvalue">
                            <div>
                                <span>
                                    {{obj.value}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    <label style="margin-top: 2%;" for="role">Select Interview-Template:</label>
    <select id="role" class="form-control" [(ngModel)]="selectedTemplate">
        <option value="" hidden selected>Choose One</option>
        <option [value]="interview.id" *ngFor="let interview of interviews; let i = index">
            {{interview.title}}
        </option>
    </select>
</div>
<div class="modal-footer">

    <div>
        <img src="https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg" class="modalLogo rounded float-left">
    </div>

    <button type="button" class="loadIntButton" (click)="createInterview()">Load</button>
</div>
