

.loadIntButton{
    border-radius: 100px;
    border: 0px;
    background-color: rgb(2, 238, 234);
    color: rgb(0, 0, 120);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;  
}

.loadIntButton::selection{
    background-color: transparent;
}

.loadIntButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;    
}
  
.loadIntButton:hover {
    background-color: rgb(0, 0, 120);
    color: rgb(0, 255, 251);
}

.loadIntButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.loadIntButton:hover span {
    padding-right: 25px;
}

.loadIntButton:hover span:after {
    opacity: 1;
    right: 0;
}
