
.table-container {
    max-height: 200px;
    overflow: auto;
  }

#questionTable {
    background-image: url(https://www.criticaltechworks.com/static/images/imagem_banner_new.png);
    background-size: 100%;
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    min-height: 10px;
    max-height: 10px;
    overflow: auto !important;
  }

  #questionTable td {
    border-top: 2px solid rgb(0, 0, 0);
    min-width: 80px;
    max-width: 300px;
    word-wrap: break-word;
    text-align: justify;
  }

#questionTable tr {
    border-top: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
}

#questionTable tr:hover{
    background-color: rgba(2, 238, 234, 0.144);
} 

.loadIntButton{
    border-radius: 100px;
    border: 0px;
    background-color: rgb(2, 238, 234);
    color: rgb(0, 0, 120);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;  
}

.loadIntButton::selection{
    background-color: transparent;
}

.loadIntButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;    
}
  
.loadIntButton:hover {
    background-color: rgb(0, 0, 120);
    color: rgb(0, 255, 251);
}

.loadIntButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.loadIntButton:hover span {
    padding-right: 25px;
}

.loadIntButton:hover span:after {
    opacity: 1;
    right: 0;
}
