<div class="modal-header">
    <h4 class="font-weight-bold modal-title pull-left">Edit account</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
   
  <div id="form-row" class="form-row mb-1">
    <div class="col">
      <input class="form-control p-1 m-1" required #firstName="ngModel" name="firstname"
        value="account.firstName" type="text" [(ngModel)]="account.firstName"/>
      <div class="text-danger" [hidden]="firstName.valid || isInvalid == false">
        <div *ngIf="(firstName.errors && firstName.errors.required) || isInvalid">
          First Name is required
        </div>
      </div>
    </div>
    <div class="col">
      <input class=" form-control p-1 m-1" required #lastName="ngModel" name="lastname"
        value="account.lastName" type="text" [(ngModel)]="account.lastName"/>
      <div class="text-danger" [hidden]="lastName.valid || isInvalid == false">
        <div *ngIf="(lastName.errors && lastName.errors.required) || isInvalid">
          Last Name is required
        </div>
      </div>
    </div>
  </div>
    <label class="font-weight-bold text-center mt-2">Edit Email:</label>
    <input class="w-100 p-1 m-1" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" name="email" email type="email" [(ngModel)]="account.email" placeholder="Email">
    <div class="text-danger" [hidden]="email.valid || isInvalid == false">
      <div *ngIf="(email.errors && email.errors.required) || isInvalid">
        Email is required
      </div>
      <div *ngIf="(email.errors && email.errors.pattern)">
        Email is invalid
      </div>
    </div>
  
    <label class="font-weight-bold text-center mt-2">Password:</label>
    <input [disabled]="!editPassword" required pattern="(.{4,}$)" #password="ngModel" class="w-90 p-1 m-1" name="password" type="password" [(ngModel)]="account.hashcode" placeholder="Password" >
    <!-- <i class="fa fa-edit"></i> -->
    <div class="text-danger" [hidden]="password.valid || password.untouched || isInvalid == false">

      <div  *ngIf="(password.errors && password.errors.required) || isInvalid">
        Password is required
    </div>
    
    
    <div  *ngIf="password.errors && password.errors.pattern">
      Password is invalid<br>
      Minimum 4 characters
    </div>
    </div>
    <button class="editButton" (click)="editPassword = true">
      <span>edit pass</span></button>
    <label class="font-weight-bold text-center mt-2">Choose a role:</label>
    <select mdbInput class="form-control w-100" [(ngModel)]="account.role">
      <option [value]="roles" *ngFor="let roles of Roles">{{roles}}</option>
    </select>
  
  <div class="text-center modal-footer">


    <div>
      <img src="https://www.criticaltechworks.com/img/KNUxPXeDj-logo_CRITICALTECHWORKS_LOGO+signature_LOGO+signature.svg" class="modalLogo rounded float-left"
      style="margin-right:3.25rem">
  </div>

    <button type="button" class="editAccountButton" (click)="editAccount()">
      Edit</button>
  </div>

</div>

  