<section class="container">
    <div>
        <button class="loadButton" (click)="loadInterview()">
            <span>Load Interview</span>
        </button>
    </div>
    <div>
        <span>
            <!-- {{candidateName}} --></span>
    </div>

    <table id="interview">
        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
        <tr *ngFor="let interview of interviewQuestions">
            <td *ngFor="let col of interviewQuestions">
                {{col}}
            </td>
            <td style="width:260px">
                <select class="form-control" [(ngModel)]="evaluation">
                    <option value="" selected>No Evaluation</option>
                    <option [value]="col" *ngFor="let col of evaluations">
                        {{col}}
                    </option>
                </select>
            </td>
            <td style="width:150px">
                <button type="button" class="deleteInterview" (click)="deleteQuestion()"
                data-toggle="tooltip" data-placement="bottom" title="Delete">

                    <i class="material-icons">
                            delete</i> 
                            

                </button>
            </td>
        </tr>
    </table>
</section>