<section class="container">
    <br>
    <h2 class="text-white" translate>Templates</h2>
    <div>
        <button class="loadButton" (click)="loadInterview()">
            <span>Load Interview-Template</span>
        </button>
        <button class="loadButton" style="float: right;" (click)="submitInterview()">
            <span>Submit Interview</span>
        </button>
        <button class="loadButton" style="float: right;" (click)="generatePdf()">
            <span>Export PDF</span>
        </button>
    </div>
    <div class="row text-center text-white">
        <div *ngIf="selectedTemplate" class="col">
            <h2>{{selectedTemplate.title}}</h2>
            <p id="progressBar">
                <ngb-progressbar type="info" [value]="progressValue">
                    Copying file <b>{{progressCount}} of {{interview.questions.length}}</b>...</ngb-progressbar>
            </p>
        </div>
    </div>

    <table *ngIf="interview.questions.length>0" id="interview">
        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
        <tr style="width:500px" *ngFor="let question of interview.questions">
            <td *ngFor="let col of index">
                {{question[col]}}
            </td>
            <td>
                <select class="form-control" [(ngModel)]="question.evaluation" (change)="progressBarUpdate()">
                    <option value="0" selected>No Evaluation</option>
                    <option [value]="col.quant" *ngFor="let col of evaluations">
                        {{col.qual}}
                    </option>
                </select>
            </td>
            <!-- <td style="width: 40px;">
                <button type="button" class="deleteInterview" (click)="deleteQuestion()" data-toggle="tooltip"
                    data-placement="bottom" title="Delete">

                    <i class="material-icons">
                        delete</i>
                </button>
            </td> -->
        </tr>
    </table>
</section>