<div class="modal-header">
    <h4 class="modal-title pull-left">Submit Interview</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label for="form-row">Candidate Name:</label>
    <div id="form-row" class="form-row mb-1">
        <div class="col">
            <input class="form-control p-1 m-1" name="firstname" value="firstname" type="text" [(ngModel)]="firstname" placeholder="First Name" />
        </div>
        <div class="col">
            <input class=" form-control p-1 m-1" name="lastname" value="lastname" type="text" [(ngModel)]="lastname" placeholder="Last Name" />
        </div>
    </div>
    <label class="form-row mt-1" for="email">Candidate Email:</label>
    <input id="email" type="text" class="form-control w-100 p-1 m-1" type="email" [(ngModel)]="email" placeholder="email@address.com">
</div>
<div class="modal-footer">
    <button type="button" class="loadIntButton" routerLink="layout/interview-results" (click)="submitInterview()">Submit</button>
</div>