<h2 translate>Users
        <button type="button" class="btn btn-primary mt-2" (click)="openCreateModal()">
                <fa-icon [icon]="iconNew"></fa-icon>
        </button>
        <button type="button" class="btn btn-primary right mt-2" (click)="updateProducts()" translate>
                Update Users
        </button>
</h2>
<ngx-datatable class="material" [columnMode]="'force'" [rows]="rows" [columns]="columns">
</ngx-datatable>
<!-- <app-tables [header]='["id","iva","pvp","discount"]' [data$]='products$' [theme]='"table-bordered"'
  (clickedRow)='clickRow($event)'></app-tables> -->