  
 html,

 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 body {
   background-image: url(https://www.shardagroup.com/images/shrda.gif);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   max-height: 80vh;
   font-family: 'Roboto', sans-serif;
 }

 .myinput {
  border: 1px solid #ced4da !important;
 }