  
 html,

 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 body {
   background-color: rgb(0, 0, 22);
   //background-image: url(https://www.shardagroup.com/images/shrda.gif);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   max-height: 80vh;
   font-family: 'Roboto', sans-serif;
 }

 p {
  font-family: Mark-Bold, sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-align: center;
 }

 b{
  color: rgb(41, 231, 214);
  font-weight:bold;
 }

 .criticalLogo{
  height: 160px;
  width: 140px;
  margin-bottom: 70px;
  text-align: center;
  margin-left: 45%;
 }

 .myinput {
  border: 1px solid #ced4da !important;
 }
 

.loginButton {
  border-radius: 60px;
  border: 0px;
  background-color: rgb(0, 255, 251);
  color: rgb(0, 0, 120);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  
}
.loginButton::selection{
  background-color: transparent;
}

.loginButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.loginButton:hover {
  background-color: rgb(0, 0, 120);
  color: rgb(0, 255, 251);
}

/* .loginButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
} */

.loginButton:hover span {
  font-size: 110%;
}

.loginButton:hover span:after {
  opacity: 1;
  right: 0;
}
