<h2 class="text-white" translate>New Question
        <!-- <button type="button" class="btn btn-primary right" (click)="updateQuestions()" translate>
                Update Products
        </button> -->
        <button type="button" class="btn btn-primary" (click)="openCreateModal()">
                <fa-icon [icon]="iconNew"></fa-icon>
        </button>
</h2>
<input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)" />
        
<ngx-datatable class="material" [columnMode]="'force'" [rows]="rows" [columns]="columns">
</ngx-datatable>

<!-- <app-tables [header]='["question","answer","attributes"]' [data$]='questions$' [theme]='"table-bordered"'
        (clickedRow)='clickRow($event)'></app-tables> -->