
h1{
    text-align: center;
    color: blue;
}

h2{
    padding-top: 3%;
    color:white;


}

#question {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 20px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 20px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
  }

#question td {
    border-top: 2px solid rgb(0, 0, 0);
    padding: 8px;
    max-width: 130px;
    word-wrap: break-word;   
}

#question tr {
    background-color: white;
    border-top: 2px solid rgb(0, 0, 0);
}

#question tr:hover{
    background-color: lightgrey;
} 

#question th{
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(0, 0, 120) !important;
    color: white;
}

.QuestButton{
    background-image: linear-gradient(to right, rgb(0, 255, 251) , rgb(13, 30, 207));
    
    border-radius: 60px;
    border: 0px;
    size: 5px;
    animation-delay: 1000ms;
    animation-timing-function: 1000ms;

}



