<ng-sidebar-container style="height: 100vh;">

        <!-- A sidebar -->
        <ng-sidebar [(opened)]="_opened" position="left" [mode]="'push'">
                <h3>Filter By:</h3>
                <div class="selectors container">
                        <div *ngFor="let attribute of attributes; let i = index">
                                <label class="font-weight-bold text-center mt-2">{{attribute.category}}</label>
                                <select mdbInput class="form-control w-100" [(ngModel)]="valueOption" (change)= "filterQuestions(valueOption)">
                                        <option value="" hidden>Select</option>
                                        <option [value]="filteredValue" *ngFor="let filteredValue of filteredValues[i]">
                                                {{filteredValue}}
                                        </option>
                                </select>
                        </div>
                </div>
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content>
                <section class="container">
                        <h2 class="text-white" translate> New Question
                                <button type="button" class="QuestButton" (click)="openCreateModal()">
                                        <fa-icon [icon]="iconNew"></fa-icon>
                                </button>
                                <br>
                                <div>
                                        <button class="pdfButton" (click)="generatePdf()">
                                                <span>Export PDF</span>
                                        </button>
                                </div>
                                <!--  <button type="button" class="btn btn-primary right" (click)="updateQuestions()" translate>
                                        Update Questions
                                </button> -->
                        </h2>
                        <br>
                        <table id="question" style="overflow-x:auto;">
                                <tr>
                                        <th *ngFor="let col of columns">
                                                {{col}}
                                        </th>
                                </tr>
                                <tr *ngFor="let question of questions$ | async">
                                        <td *ngFor="let col of indexTable; let i = index">
                                                <ng-container *ngIf="i==0">
                                                        <span *ngFor="let attr of question[col]">{{attr.value}}<br></span>
                                                </ng-container>
                                                <ng-container *ngIf="i>0">
                                                        {{question[col]}}
                                                </ng-container>
                                        </td>
                                        <td style="width:150px">
                                                <button type="button" class="btn btn-outline-info mr-2"
                                                        (click)="editQuestion(question.id)">Edit</button>
                                                <button type="button" class="btn btn-outline-danger"
                                                        (click)="deleteQuestion(question.id)">X</button>
                                        </td>
                                </tr>
                        </table>
                </section>
        </div>
</ng-sidebar-container>
<!-- content -->