h1{
    text-align: center;
    color: blue;
}

h2{
    padding-top: 3%;
    color:whitesmoke;


}

#question {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#question td, #question th {
    border: 1px solid white;
    padding: 8px;
}

#question tr,:nth-child(even) {
    background-color: white;
}

/* #question tr:hover{
    background-color: yellow;
} */

#question th{
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: left;
    background-color: slateblue;
    color: white;
}

.QuestButton{
    background-image: linear-gradient(to right, rgb(0, 255, 251) , rgb(13, 30, 207));
    
    border-radius: 60px;
    border: 0px;
    size: 5px;
    animation-delay: 1000ms;
    animation-timing-function: 1000ms;

}

.QuestIcon{
    size: 10px;
}