
h1{
    text-align: center;
    color: blue;
}

#question {
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#question td, #question th {
    border: 1px solid white;
    padding: 8px;
}

#question tr,:nth-child(even) {
    background-color: white;
}

/* #question tr:hover{
    background-color: yellow;
} */

#question th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}