#carouselExampleIndicators {
    height: 200px;
    background-image: url(https://www.criticaltechworks.com/static/images/imagem_banner_new.png);
    background-size: 100%;
    
}

.myCenter {
    height: 100%;
    text-align: center;
    padding-top: 20%;
    span {
        color: white;
    
    }
    
}