<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>
    <img src="https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg" class="positronx rounded float-left">
  </div>

    <div *ngIf="accountApi.isAuthenticated()" class="logOutButton">
      
      <div *ngIf="accountApi.isAdmin()" class="btn">
        <button class="qaButton" routerLink="layout/question">Questions</button>
        <button class="qaButton" routerLink="layout/account">Accounts</button>
      </div>

      <span class="logOutButton navbar-text mx-3 text-white">
        {{accountApi.getCurrentName()}}
      </span>
      <button class="logOutButton btn btn-outline-danger" routerLink="login" (click)="logout()">Logout</button>
    </div>
    
    
</mat-toolbar>

<router-outlet></router-outlet>

