<!-- Toolbar -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">


<mat-toolbar color="primary" class="app-header">
  <div>
    <img src="https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg" class="positronx rounded float-left">
  </div>

    <div *ngIf="accountApi.isAuthenticated()" class="">

      
      <div *ngIf="accountApi.isAdmin()" class="btn">
        <button class="qaButton" routerLink="layout/question">Questions</button>
        <button class="qaButton" routerLink="layout/account">Accounts</button>
        <button class="qaButton" routerLink="layout/interview">Interview</button>
      </div>

      <span class="fontsize navbar-text  text-white">
         {{accountApi.getCurrentName()}}

         <i class="material-icons">account_circle</i>
      </span>

      <button class="logOutButton" routerLink="login" (click)="logout()">
        <i class="material-icons1">
          power_settings_new
        </i>

      </button>
    </div>
    
    
</mat-toolbar>

<router-outlet></router-outlet>

