<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Question</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <label for="question" style="margin-bottom: 0px; margin-left: 4px;">Question</label>
        <input id="question" class="w-100 p-1 m-1" name="question" type="text" [(ngModel)]="question.question"/>

        <label for="answer" style="margin-bottom: 0px; margin-left: 4px;">Expected Answer</label>    
        <input id="answer" class="w-100 p-1 m-1" name="answer" type="text" [(ngModel)]="question.answer"/>

        <label for="categories" style="margin-bottom: 0px; margin-left: 4px;">Categories</label> 
        <select id="categories" *ngIf="!empty" (change)="getAttributeValues()" class="form-control"
            style="margin-left: 4px; margin-right: 4px;" [(ngModel)]="attributeOption">
            <option value="" *ngIf="attributeOption == ''">Choose a category</option>
            <option [value]="attributeString" *ngFor="let attributeString of attributesString">{{attributeString}}
            </option>
        </select>
    </div>

    <div class="row" *ngIf="attributeOption != '' ">
        <select class="form-control" style="width: 93%; margin-left: 4px; margin-top: 3px; margin-bottom: 4px;"
            [(ngModel)]="attributeValueOption">
            <option value="" hidden>Choose a option</option>
            <option [value]="filteredValue.id" *ngFor="let filteredValue of filteredValues">{{filteredValue.value}}
            </option>
        </select>
        <button *ngIf="attributeValueOption != '' " (click)="addAttributeValue(attributeValueOption)"
            style="margin-top: 3px; margin-bottom: 4px; background-color: cadetblue; border-radius: .25rem; color: black">
            + </button>
    </div>


    <div class="my-chip-list">
        <label *ngFor="let selectedValueString of selectedValuesString"
            style="background-color: cadetblue; border-radius: 1rem; padding-top: 3px; padding-left: 6px; padding-right: 5px; padding-bottom: 3px; margin: 2px">
            {{selectedValueString}}
            <button class="myRemove" (click)="remove(selectedValueString)"
                style="border-radius: 1rem; border-color: cadetblue; background-color:cadetblue; font-size: 15px;">x</button>
        </label>
    </div>

    <label for="" *ngIf="empty" style="font-size: 12px;"> (All categories are defined)</label> 

</div>

<div class="modal-footer">
    <button type="button" class="editQuestionButton" (click)="editQuestion()">Edit</button>
</div>