<div class="modal-header">
    <h4 class="font-weight-bold modal-title pull-left">Edit Question</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

        <label for="question" class="font-weight-bold text-center">Question:</label>
        <input id="question" class="w-100 p-1 m-1" required #questionEdit="ngModel" name="question" type="text" [(ngModel)]="question.question" placeholder="Write question"/>
                

        <div class="text-danger" [hidden]="questionEdit.valid || isInvalid == false">
      
                <div  *ngIf="(questionEdit.errors && questionEdit.errors.required) || isInvalid">
                    Question is required 
                </div>
        
              </div>

        <label for="answer" class="font-weight-bold text-center">Expected Answer:</label>    
        <input id="answer" class="w-100 p-1" name="answer" type="text" [(ngModel)]="question.answer" placeholder="Expected Answer"/>

        <label for="categories" class="font-weight-bold text-center">Categories:</label> 
        <select id="categories" *ngIf="!empty" (change)="getAttributeValues()" class="form-control"
            style="margin-left: 4px; margin-right: 4px;" [(ngModel)]="attributeOption">
            <option value="" *ngIf="attributeOption == ''">Choose a category</option>
            <option [value]="attributeString" *ngFor="let attributeString of attributesString">{{attributeString}}
            </option>
        </select>

    <div class="row" *ngIf="attributeOption != '' ">
        <select class="form-control" style="width: 93%; margin-left: 4px; margin-top: 3px; margin-bottom: 4px;"
            [(ngModel)]="attributeValueOption">
            <option value="" hidden>Choose a option</option>
            <option [value]="filteredValue.id" *ngFor="let filteredValue of filteredValues">{{filteredValue.value}}
            </option>
        </select>
        <button *ngIf="attributeValueOption != '' " (click)="addAttributeValue(attributeValueOption)"
            style="margin-top: 3px; margin-bottom: 4px; background-color: rgb(0, 221, 217); border-radius: .25rem; color: rgb(0, 0, 120)">
            + </button>
    </div>


    <div class="my-chip-list">
        <label *ngFor="let selectedValueString of selectedValuesString"
            style="background-color: rgb(0, 221, 217); border-radius: 1rem; padding-top: 3px; padding-left: 6px; padding-right: 5px; padding-bottom: 3px; margin: 2px">
            {{selectedValueString}}
            <button class="myRemove" (click)="remove(selectedValueString)"
                style="border-radius: 1rem; border-color: rgb(0, 221, 217); background-color:rgb(0, 221, 217); font-size: 15px;">x</button>
        </label>
    </div>

    <label for="" *ngIf="empty" style="font-size: 12px;"> (All categories are defined)</label> 



<div class="modal-footer">


    <div>
        <img src="https://www.criticaltechworks.com/img/KNUxPXeDj-logo_CRITICALTECHWORKS_LOGO+signature_LOGO+signature.svg" class="modalLogo rounded float-left" 
        style="margin-right: 2.25rem">
    </div>
    
    <button type="button" class="editQuestionButton" (click)="editQuestion()">Edit</button>
</div>
</div>