h1{
    text-align: center;
    color: blue;
}

h2{
    padding-top: 3px;
}

#account {
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#account td, #account th {
    border: 1px solid white;
    padding: 8px;
}

#account tr,:nth-child(even) {
    background-color: white;
}

/* #account tr:hover{
    background-color: yellow;
} */

#account th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}

.AccountButton{
    background-image: linear-gradient(to right, rgb(0, 255, 251) , rgb(13, 30, 207));
    
    border-radius: 60px;
    border: 0px;
    size: 5px;
    animation-delay: 1000ms;
    animation-timing-function: 1000ms;
}