<section class="container">
        <br>
        <h2 class="text-white" translate>Users
                <!-- <button type="button" class="btn btn-primary mt-2" routerLink="/register" routerLinkActive="active">
                        <fa-icon [icon]="iconNew"></fa-icon>
                </button> -->
        </h2>
<div>
        <button class="userButton" (click)="openCreateModal()">Add New User
                <i class="addUserIcon material-icons">add_circle</i>
        </button>
</div>
        
        <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> -->

        <input (keyup)="getByEmail()" [(ngModel)]="value" placeholder="Search user" id="filter" class="rounded mb-2">

        <table id="account">
                <tr>
                        <th *ngFor="let col of headers">
                                {{col}}
                        </th>
                </tr>
                <tr *ngFor="let account of accounts$ | async">
                        <td *ngFor="let col of columns; let i = index">
                                <span *ngIf="i != 1">{{account[col]}}</span>
                                <span *ngIf="i == 1">{{account.firstName}} {{account.lastName}}</span>
                        </td>
                        <td style="width:150px">
                                <button type="button" class="userButtonEdit" (click)="accountEdit(account.id)" 
                                data-toggle="tooltip" data-placement="bottom" title="Edit">

                                        <i class="material-icons">
                                                create</i> 
                                </button>

                                <button type="button" class="userButtonDelete" (click)="deleteAccount(account.id)" 
                                data-toggle="tooltip" data-placement="bottom" title="Delete">

                                        <i class="material-icons">
                                                delete</i> 


                                </button>
                        </td>
                </tr>
        </table>
        <!-- <app-tables [header]='["question","answer","attributes"]' [data$]='questions$' [theme]='"table-bordered"'
          (clickedRow)='clickRow($event)'></app-tables> -->
</section>