html,
body {
  height: 110%;
  margin: 0;
  padding: 0;
}

h3{
  color: white;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 1%;
}

body {
  background-image: url(https://media1.giphy.com/media/l4XfgLyXAnyzCh7vfY/giphy.gif?cid=790b76111da34d72cf42191b1a37dd711077bfa1441a95b&rid=giphy.gif);

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

/* navbar */
.ng-sidebar {
  
  background:rgb(0, 0, 22);
  width: 20%;
  padding: 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 95%;
  
}

.selectors { 
  background:rgb(0, 0, 22);
  padding: 10%;
  width: 100%;
  text-align:left;
  color:rgb(25, 196, 194);
  opacity: 95%;
  //background-color: rgb(13, 30, 207);
}


