html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://media1.giphy.com/media/l4XfgLyXAnyzCh7vfY/giphy.gif?cid=790b76111da384d72cf42191b1a37dd711077bfa1441a95b&rid=giphy.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 80vh;
  font-family: 'Roboto', sans-serif;
}

