/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


.app-header {
  text-align: justify;
  box-shadow: 0 3px 5px -1px rgba(28, 2, 145, 0.603);
  background-color: rgb(0, 0, 120) !important;
  justify-content: space-between;
}

.logOutButton{
  text-align: right;
  justify-content: right;
  position: right !important;
}

.positronx {
  justify-content: space-evenly;
  text-align: center;
  color: #ffffff;
  width: 60%;
}

.box {
  margin-left: auto;
  margin-right: auto;
  opacity: 85%;
  box-shadow: 0 3px 5px -1px rgba(10, 1, 134, 0.603);
  position: relative;
  padding: 40px 50px 50px 60px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}


.login-wrapper .btn-block {
  width: 100%;
  
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 20px;
  margin: 0;
  width: 100%;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 2px solid currentColor;
  line-height: 54px;
  background-size: 100%;
  width: 100%;
  padding-bottom: 2px;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.mat-ripple-element {
  display: none!important;
}

/* myCheckbox */

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 35px;
  width: 35px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid rgb(0, 0, 120);
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: rgb(0, 0, 120);
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid rgb(0, 0, 120);
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid rgb(0, 255, 251);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 12px;
top: 3px;
width: 8px;
height: 18px;
border: solid rgb(0, 255, 251);
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}


.modal-header{
//background-image: url("https://d2zr9w65gdacs9.cloudfront.net/50158/vagas-21564757671inline.png") !important;
background-color: rgba(205, 211, 211, 0.418);

font-family: Arial, Helvetica, sans-serif;
text-decoration-color: rgb(0, 255, 251);
padding: 2%;
  
}

.modal-body{

  background-image: url("https://d2zr9w65gdacs9.cloudfront.net/50158/vagas-21564757671inline.png");
  background-color: rgb(0, 0, 22);
  background-size: 100%;
  background-repeat: no-repeat;
  font: bold;
  
  color: white;
 
}


.modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  //border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
  background: transparent;
 // background-image: url(https://www.criticaltechworks.com/static/images/imagem_banner_new.png);
border: none;
}


.modal-title{
  color: rgb(0, 0, 0);
  
}




.modalLogo{
  float: left;
  size: 10px;
  width: 30%;
  margin-top: 9%;
  background-image: url(https://www.criticaltechworks.com/img/KNUxPXeDj-logo_CRITICALTECHWORKS_LOGO+signature_LOGO+signature.svg);
  background-size: 100%;
  background: none;
  margin-right: 1.25rem;
}




