<div class="login-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="card-title mb-5">
        Create a new account
      </mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input mdbInput class="form-control w-100 mt-4" id="Username" placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input mdbInput class="form-control w-100 mt-2" id="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input mdbInput class="form-control w-100 mt-2" placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label class="font-weight-bold text-center mt-2">Choose a role:</label>
          <select mdbInput class="form-control w-100">
            <option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </option>
          </select>
        </mat-form-field>

      </mat-card-content>

      <button type="button" class="btn btn-outline-info w-50 mt-2">Create</button>
      <button type="button" class="btn btn-outline-danger w-50 mt-2" routerLink="layout/account">Cancel</button>

    </form>
  </mat-card>
</div>
<router-outlet></router-outlet>
