<div class="modal-header">
  <h4 class="font-weight-bold modal-title pull-left">Create new account</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div id="form-row" class="form-row mb-1">
    <div class="col">
      <input class="form-control p-1 m-1" required #firstName="ngModel" name="firstname"
        value="account.firstName" type="text" [(ngModel)]="account.firstName" placeholder="First Name" />
      <div class="text-danger" [hidden]="firstName.untouched || isInvalid == false">
        <div class="text-danger" *ngIf="(firstName.errors && firstName.errors.required) || isInvalid">
          First Name is required
        </div>
      </div>
    </div>
    <div class="col">
      <input class=" form-control p-1 m-1" required #lastName="ngModel" name="lastname"
        value="account.lastName" type="text" [(ngModel)]="account.lastName" placeholder="Last Name" />
      <div class="text-danger" [hidden]="lastName.untouched || isInvalid == false">
        <div *ngIf="(lastName.errors && lastName.errors.required) || isInvalid">
          Last Name is required
        </div>
      </div>
    </div>
  </div>


  <input class="w-100 p-1 m-1" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
    name="email" email type="email" [(ngModel)]="account.email" placeholder="Email">
  <div class="text-danger" [hidden]="email.valid || email.untouched || isInvalid == false">
    <div *ngIf="(email.errors && email.errors.required) || isInvalid">
      Email is required
    </div>
    <div *ngIf="(email.errors && email.errors.pattern) || isInvalid">
      Email is invalid
    </div>
  </div>
  <input class="w-100 p-1 m-1" required pattern="(.{4,}$)" #password="ngModel" name="password" type="password"
    [(ngModel)]="account.password" placeholder="Password">
  <div class="text-danger" [hidden]="password.valid || password.untouched">
    <div *ngIf="(password.errors && password.errors.required) || isInvalid">
      Password is required
    </div>
    <div *ngIf="(password.errors && password.errors.pattern) || isInvalid">
      Password is invalid, 4 or more characters are required.
    </div>
  </div>
  <label class="font-weight-bold text-center mt-2">Choose a role:</label>
  <select mdbInput class="form-control w-100" [(ngModel)]="account.role">
    <option [value]="roles" *ngFor="let roles of Roles">{{roles}}</option>
  </select>


  <div class="text-center modal-footer">


    <div>
      <img
        src="https://www.criticaltechworks.com/img/KNUxPXeDj-logo_CRITICALTECHWORKS_LOGO+signature_LOGO+signature.svg"
        class="modalLogo rounded float-left">
    </div>


    <button type="button" class="registerButton" (click)="register()"
    >Create</button>
    <!-- <button type="button" class="btn btn-outline-danger mt-2" (click)="back()">Cancel</button> -->
  </div>
</div>